<h2>Edit Movie</h2>

<form [formGroup]="movieForm" (ngSubmit)="onSubmit()" *ngIf="movieForm">
  <label for="title">Title</label>
  <input formControlName="title" id="title" />

  <label for="releaseDate">Release Date</label>
  <input formControlName="releaseDate" id="releaseDate" />

  <label for="rating">Rating </label>
  <input type="number" formControlName="rating" id="rating" />

  <label for="genre">Genre</label>
  <input formControlName="genre" id="genre" />

  <button type="submit">Update</button>
</form>
