<h2>Movie List</h2>

<table *ngIf="movies && movies.length">
  <thead>
    <tr>
      <th>Title</th>
      <th>Directors</th>
      <th>Release Date</th>
      <th>Genre</th>
      <th>Rating</th>
      <th>Delete</th>
      <th>Update</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of movies">
      <td>{{ movie.title }}</td>
      <td>
        <select>
          <option *ngFor="let director of movie.directors">{{director.firstName }} {{ director.lastName }}</option>
        </select>
      </td>
      <td>{{ movie.releaseDate | date }}</td>
      <td>{{ movie.genre }}</td>
      <td>{{movie.rating}}/10</td>
      <td>
        <button (click)="deleteMovie(movie.id)">Delete</button>
      </td>
      <td>
        <a routerLink="{{movie.id}}/edit">Edit</a>
      </td>
    </tr>
  </tbody>
</table>
